@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Thread Haven</h1>
    <p>In-Class ASP.NET web app for COMP2084 in fall 2024.</p>
    <p>The current date and time is @ViewData["Timestamp"]</p>
</div>
